@import "variables";
.content-center-aligned {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100%;
}

.flex-full-height {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  height: 100%;
}

// temporary fix for https://github.com/angular/material2/issues/5090
// periodically check this issue to remove these css lines
// .mat-list .mat-list-item .mat-list-icon,
// .mat-list .mat-list-option .mat-list-icon,
// .mat-nav-list .mat-list-item .mat-list-icon,
// .mat-nav-list .mat-list-option .mat-list-icon,
// .mat-selection-list .mat-list-item .mat-list-icon,
// .mat-selection-list .mat-list-option .mat-list-icon {
//   padding: 0 16px 0 0 !important;
// }
// .mat-list .mat-list-item .mat-list-text,
// .mat-list .mat-list-option .mat-list-text,
// .mat-nav-list .mat-list-item .mat-list-text,
// .mat-nav-list .mat-list-item .mat-list-item-content,
// .mat-nav-list .mat-list-option .mat-list-text,
// .mat-selection-list .mat-list-item .mat-list-text,
// .mat-selection-list .mat-list-option .mat-list-text {
//   padding-right: 16px !important;
//   padding-left: 6px !important;
// }
// .mat-nav-list .mat-list-item .mat-list-item-content .mat-list-text {
//   padding-left: 0px !important;
// }
.pixelated-image {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

.avatar {
  margin: 12px 12px 12px 12px;
}

.chat-nav-list .mat-list-item {
  &:first-child {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

// .message-nav-list .mat-list-item {
//   &:first-child {
//     padding-top: 16px;
//     padding-bottom: 16px;
//   }
// }
// .message-nav-list .mat-list-item .mat-list-item-content {
//   padding-left: 0 !important;
//   padding-right: 0px !important;
//   .mat-list-text {
//     padding-left: 0px !important;
//     padding-right: 16px !important;
//   }
// }
