/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "globals";
@import "matTheme";
@import "~@angular/material/prebuilt-themes/deeppurple-amber";
body {
  height: 100%;
  margin: 0;
}

.base-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
