<div class="chat-list-container flex-full-height">
  <mat-card class="chat-list-card">
    <mat-card-content class="chat-card-content">
      <mat-nav-list class="chat-nav-list">
        <mat-list-item>
          <img matListAvatar initialAvatar initial="+" bgColor="#388E3C" alt="+" class="avatar">
          <p matLine>
            <span>New Conversation</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img matListAvatar initialAvatar initial="J" bgColor="blue" alt="J" class="avatar">
          <p matLine style="display:flex;flex-direction:row">
            <span style="justify-content:flex-start">john@gochat.com</span>
            <span style="flex:1 1 auto"></span>
            <span style="justify-content: flex-end"></span>
          </p>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>

  </mat-card>
</div>
