<div class="content-center-aligned login-container">
  <mat-card class="login-card">
    <h2>
      <span>Login</span>
    </h2>
    <mat-card-content class="login-content">
      <mat-form-field>
        <input matInput type="email" required placeholder="Email" [formControl]="email">
        <mat-error *ngIf=email.invalid>{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" required placeholder="Password" [formControl]="password">
        <mat-error *ngIf=password.invalid>{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions align="center" class="login-card-action">
      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <p>Dont have an account?</p>
      <button mat-button (click)="signup()">Signup</button>
    </mat-card-actions>
  </mat-card>
</div>
