<!-- <p>
  chat works!
</p> -->

<div class="chat-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="over" #sideNav align="start">
      <app-side-nav-bar></app-side-nav-bar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-chat-toolbar [sideNav]="sideNav"></app-chat-toolbar>
      <div class="flex-full-height">
        <app-side-bar class="content-vertical-stretch"></app-side-bar>
        <app-message-list class="chat-content-noshrink"></app-message-list>
        <app-chat-workspace class="chat-content-fillspace"></app-chat-workspace>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
