<div class="message-list-container flex-full-height" layout="row" layout-fill>

  <mat-card class="message-card">
    <mat-card-content class="message-card-content">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon matListIcon class="mat-18">add_circle</mat-icon>
          <h3>New Conversation</h3>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon class="mat-18">add_circle</mat-icon>
          <h3 matLine>paul@gochat.com</h3>
          <p matLine>How are you doing?</p>
        </mat-list-item>
      </mat-nav-list>
      <!-- <mat-list>
        <mat-list-item>
          <mat-icon matListIcon class="mat-18">add_circle</mat-icon>
          <h3 matLine>paul@gochat.com</h3>
          <p matLine>How are you doing?</p>
        </mat-list-item>
      </mat-list> -->
    </mat-card-content>

  </mat-card>
  <div>

  </div>
  <!-- <div class="message-list-card message-list-content-border">
    <button mat-icon-button (click)="onClick">
      <mat-icon class="mat-18" class="new-button">add_circle</mat-icon>
      <span>New Conversation</span>
    </button>
    <div>
      <mat-list>
        <mat-list-item class="message-content">
          <mat-icon matListIcon>add_circle</mat-icon>
          <h3 matLine>paul@gochat.com</h3>
          <p matLine>
            What's up man!!!
          </p>
        </mat-list-item>
      </mat-list>
    </div>

  </div> -->

  <!-- <mat-card class="message-list-card">
    <mat-card-header>
      <mat-card-title class="message-card-title">
        <button mat-icon-button (click)="onClick">
          <mat-icon class="mat-18" class="new-button">add_circle</mat-icon>
          <span>New Conversation</span>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list class="message-content">
        <mat-list-item class="message-content">
          <mat-icon matListIcon>fiber_manual_record</mat-icon>
          <h3 matLine>paul@gochat.com</h3>
          <p matLine>
            <span>What's up man!!!</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item>
            <mat-icon>fiber_manual_record</mat-icon>
            <h3 matLine>john@gochat.com</h3>
            <p matLine>
              <span>Nothing much going...</span>
            </p>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card> -->
</div>
