.message-list-container {
  padding-left: 0.25rem;
  padding-top: 0.5rem;
  flex-wrap: wrap;
  overflow: hidden;
  width: 350px;
  >div.mat-list-item-content {
    padding-left: 0 !important;
  }
}

.mat-list-item-content {
  padding-left: 0;
}

.message-list-card {
  background: #ffffff;
  color: #292727;
  min-width: 15rem;
  .new-button {
    color: green;
    font-size: 2rem;
    padding-left: 0.25rem;
    padding-top: 0.25rem;
  }
  span {
    padding-left: 0.40rem;
    align-content: center;
  }
}

.message-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  .mat-list-item .mat-list-item-content {
    padding-right: 0 !important;
  }
  >.message-item-list-item {
    padding-right: 0 !important;
    overflow: hidden;
    >:mat-list-item-content {
      padding-right: 0 !important;
    }
  }
}

.message-card {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  flex: 0 0 350px;
  .message-card-content {
    padding-left: 0px;
    padding-right: 0px;
    >.message-nav-list {
      padding-top: 0 !important;
    }
  }
}

div.mat-list-item-content {
  padding-left: 0 !important;
}

.message-list-content-border {
  border-radius: 4px;
}

.message-content {
  color: #222222 !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.message-item-more-button {
  justify-content: flex-end;
  align-items: center;
  display: none;
}
